Source: furios-app-steppy
Maintainer: Jesús Higueras <jesus@furilabs.com>
Section: misc
Priority: optional
Build-Depends: debhelper (>= 11), meson, libgtk-4-dev, libadwaita-1-dev, libsqlite3-dev
Standards-Version: 4.5.1
Vcs-Browser: https://github.com/furilabs/steppy
Vcs-Git: https://github.com/furilabs/steppy.git
